NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://openpoll:openpoll_dev_password@localhost:5433/openpoll?schema=public"

REDIS_URL="redis://localhost:6380"

JWT_ACCESS_SECRET="replace_with_long_random_secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="replace_with_long_random_secret"
JWT_REFRESH_EXPIRES_IN="7d"

PAYSTACK_SECRET_KEY="sk_test_changeme"
PAYSTACK_WEBHOOK_SECRET="sk_test_changeme"
